<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form>
      <input type="text" name="Name: ">
        <% for(q in questionsData){ %>
          <label>
            <%= questionsData[q].name %>
          </label>
          <br>
          <% for(a in questionsData[q].answers){ %>
            <input type="radio">
            <%= questionsData[q].answers[a] %>
          <% }%>
          <br>
        <% }%>
    </form>
  </body>
</html>
