<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="form">
      <%= "Name:" %>
      <br>
      <input type="text" id="name">
      <br>
      <select id="dropDown">
        <option value="Mentor" selected>Mentor</option>
        <option value="Mentee">Mentee</option>
      </select>
      <br>
        <% for(q in questionsData){ %>
        <br><label>
          <%= questionsData[q].name %>
        </label>
        <br>
        <% for(a in questionsData[q].answers){ %>
          <%if(q == 0){%>
          <input type="radio" name = "Q1" value=<%= questionsData[q].answers[a] %>>
          <%= questionsData[q].answers[a] %>
          <%} %>
          <%if(q == 1){%>
          <input type="radio" name = "Q2" value=<%= questionsData[q].answers[a] %>>
          <%= questionsData[q].answers[a] %>
          <%} %>
          <%if(q == 2){%>
          <input type="radio" name = "Q3" value=<%= questionsData[q].answers[a] %>> 
          <%= questionsData[q].answers[a] %>
          <%} %>
          <%if(q == 3){%>
          <input type="radio" name = "Q4" value=<%= questionsData[q].answers[a] %>>
          <%= questionsData[q].answers[a] %>
          <%} %>
        <% }%>
        <br>
        <% }%>
        <br>
        <input id="submit" type="submit" value = "Submit">
    </form>
  </body>
<script>
  var question1Buttons = document.getElementsByName("Q1");
  var question2Buttons = document.getElementsByName("Q2");
  var question3Buttons = document.getElementsByName("Q3");
  var question4Buttons = document.getElementsByName("Q4");
  var nameTextInput = document.getElementById("name");
  var dropDownMenu = document.getElementById("dropDown");
  var submitButton = document.getElementById("submit");

  var name;
  var role = dropDownMenu.options[dropDownMenu.selectedIndex].value;
  var userAnswers = new Array(4);

  for (var i = 0; i < question1Buttons.length; i++){
    question1Buttons[i].addEventListener("change", getQ1Answer);
  }
  
  for (var i = 0; i < question2Buttons.length; i++){
    question2Buttons[i].addEventListener("change", getQ2Answer);
  }

  for (var i = 0; i < question3Buttons.length; i++){
    question3Buttons[i].addEventListener("change", getQ3Answer);
  }
  
  for (var i = 0; i < question4Buttons.length; i++){
    question4Buttons[i].addEventListener("change", getQ4Answer);
  }
  nameTextInput.addEventListener("change", nameInput);
  dropDownMenu.addEventListener("change", dropDownSelection);
  submitButton.addEventListener("click", submitForm);

  function getQ1Answer(event) 
  {
    userAnswers[0] = event.target.value;
    console.log(userAnswers[0]);
  }
  function getQ2Answer(event) 
  {
    userAnswers[1] = event.target.value;
    console.log(userAnswers[1]);
  }
  function getQ3Answer(event) 
  {
    userAnswers[2] = event.target.value;
    console.log(userAnswers[2]);
  }
  function getQ4Answer(event) 
  {
    userAnswers[3] = event.target.value;
    console.log(userAnswers[3]);
  }

  function nameInput(event) 
  {
    name = event.target.value;
    console.log(name);
  }
 
  function dropDownSelection(event) 
  {
    role =  event.target.value;
    console.log(role);
  }

  function submitForm(event) 
  {
    var c = confirm("Are you sure these are your answers?");
    if(c == true){
      //insert statement goes in here
    }

  } 
</script>
</html>
